<nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav">
  <a class="navbar-brand" href="#">Contact App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Contacts <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="contactParams" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchContact(contactParams)">Search</button>
    </form>
  </div>
</nav>

<ul class="nav justify-content-end nav-action-container">
  <li class="nav-item">
    <button type="button" class="btn btn-primary contact-button" (click)="loadContacts()">Load
      Contacts</button>
    <!-- <a class="nav-link" href="#">Load Contacts</a> -->
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary contact-button" (click)="saveItemsToLocalStorage(contacts)">Save All</button>
    <!-- <a class="nav-link" href="#">Save All</a> -->
  </li>
  <li class="nav-item">
    <button type="button" class="btn btn-primary contact-button" (click)="addContact()">Add Contact</button>
  </li>
</ul>


<div class="contact-grid">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts; let i = index">
        <th *ngIf="!contact.editing" scope="row">{{contact.id}}</th>
        <td *ngIf="!contact.editing">{{contact.firstName}}</td>
        <td *ngIf="!contact.editing">{{contact.lastName}}</td>
        <td *ngIf="!contact.editing">{{contact.email}}</td>
        <td *ngIf="!contact.editing">{{contact.phone}}</td>
        <td *ngIf="!contact.editing">
          <button type="button" class="btn btn-danger contact-button" (click)="deleteContact(i)">X</button>
        </td>




        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.id" type="text" class="form-control" placeholder="ID" aria-label="ID"
            aria-describedby="basic-addon1">

        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.firstName" type="text" class="form-control" placeholder="First Name" aria-label="ID"
            aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.lastName" type="text" class="form-control" placeholder="Last Name" aria-label="ID"
            aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.email" type="text" class="form-control" placeholder="Email" aria-label="ID"
            aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <input [(ngModel)]="contact.phone" type="text" class="form-control" placeholder="Phone" aria-label="ID"
            aria-describedby="basic-addon1">
        </td>
        <td *ngIf="contact.editing">
          <div class="btn-group">
            <button type="button" class="btn btn-success contact-button" (click)="saveContact(contact)">Save</button>
            <button type="button" class="btn btn-danger contact-button" (click)="deleteContact(i)">X</button>
          </div>
        </td>

    </tbody>
  </table>
</div>